*{
	 margin: 0;
padding: 0;
font-family: 'roboto',sans-serif;}
.container {width: 100%;
height: 100vh;
background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/pal.jpg);
background-position: center;
background-size: cover;
padding-left: 8%;
padding-right: 8%;
box-sizing: border-box;
}
.navbar{height: 12%;
Position :sticky;
display: flex;
align-items: center;}
.logo{
	width: 100px;
	height: 50px;
	cursor:pointer;
}
.menu-icon{
	  width: 30px;
	  cursor: pointer;
	  margin-left: 40px;
}
nav{float: right;
	width: 80%;
	flex: 1;
text-align: right;}
nav ul li{
list-style: none;
display: inline-block;
margin-left: 60px; 
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 13px;
}
 .row{display: flex;
 	height: 88%;
 	align-items: center;
 }
 .col{flex-basis: 50%;
 }
 h1{
 	color: #fff;
 	font-size: 100px;
 }
 p{
 	color: #fff;
 	font-size: 11px;
 	line-height: 15px;
 }
  #button{
  	margin-top: 30px;
    display: flex;
    justify-content: center;
  align-items: center;
  
   border: 0;
  border-radius: 20px;
  outline: none;

   }
#button a{ text-align: center;
	position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 4px;
    color: green;
    background-color: rgba(31, 30, 30, 0.24);
    text-transform: uppercase;
    transition: 1s all;
    overflow: hidden;
    padding: 15px 30px;
 }
 #button a:hover{
 	 border: 0;
  border-radius: 20px;
  outline: none;
color: red;}
#button a:hover{
background:linear-gradient(#000000,#ffffff,#008000) ;
box-shadow: 0 0 10px red, 0 0 40px red, 0 0 80px black;
transition-delay: 1s;}
#button a span{position:absolute;
    display: block;}
#button a span:nth-child(1){top: 0%;
    left: -100%;
    width: 0%;
    height: 2px;
    background: linear-gradient(90deg,transparent,red);}
#button a:hover span:nth-child(1){left: 100%;
    width: 100%;
    transition: 0.8s;}
#button a span:nth-child(3){
    bottom: 0%;
    right: -100%;
    width: 0%;
    height: 2px;
    background: linear-gradient(270deg,transparent,red);*/}
#button a:hover span:nth-child(3){
    right: 100%;
    width: 100%;
    transition: 0.6s;
    transition-delay: 0.6s ;}
#button a span:nth-child(2){
    top: 0%;
    right: 0%;
    height: 0%;
    width: 2px;
   background: linear-gradient(180deg,transparent,red);*/}
#button a:hover span:nth-child(2){
    top: 100%;
    height: 100%;
    transition: 0.5s;
    transition-delay: 0.5s ;}
#button a span:nth-child(4){
    bottom:-100% ;
    left: 0%;
    height: 100%;
    width: 2px;
    background: linear-gradient(180deg,transparent,red);}
#button a:hover span:nth-child(4){
    bottom: 100%;
    transition: 0.5s;
    transition-delay: 0.9s ;}
.card{
	width: 200px; 
height: 230px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 15px;
background-size: cover;
background-position: center; 
transition: transform 0.5s; 
}
.card1{background-image:url(img/pal1.jpg);}
.card2{background-image:url(img/pal2.jpg);}
.card3{background-image:url(img/pal3.jpg);}
.card4{background-image:url(img/pal4.jpg);}

.card:hover{
	transform: translateY(-10px);
}

.col .card{float: right;}



 /*-----------footer---------*/
 /*----------tag---------*/

#tag{
	/*width: 100%;*/
	place-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20vh;
  background: #000;
}
.apper{
	background: #000;
  display: flex;
}
.apper .dynamic-txts{
	
  margin-left: 15px;
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
	
  list-style: none;
  color: red;
  font-size: 60px;
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 12s steps(4) infinite;
  background-color: #000;
/*margin-left: 35%;*/
}
@keyframes slide {
  100%{
    top: -360px;
  }
}
.dynamic-txts li span{
  position: relative;
  margin: 5px 0;
  line-height: 90px;
}
.dynamic-txts li span::after{
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(#000,#fff,green);
  border-left: 2px solid #FC6D6D;
  animation: typing 3s steps(10) infinite;
}
@keyframes typing {
  40%, 60%{
    left: calc(100% + 30px);
  }
  100%{
    left: 0;
  }
}



/*tag*/
    footer h3,p{color: #fff;}
footer{
  display: grid;
  height: 10%;
  width: 100%;
  place-items : center;
  background-color: #000;
}
.wrapper .button{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 0 5px;
  overflow: hidden;
  background: #fff;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.3s ease-out;
}
img{
  top: 10px;
  position: relative;
  width: 40px;
  color: #d7e1ec;
}

.wrapper .button:hover{
  width: 200px;
}
.wrapper .button .icon{
  display: inline-block;
  height: 60px;
  width: 60px;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
 .wrapper .button:nth-child(1):hover .icon{
  background: #4267B2;
}
.wrapper .button:nth-child(2):hover .icon{
  background: #1DA1F2;
}
.wrapper .button:nth-child(3):hover .icon{
  background: #E1306C;
}
.wrapper .button:nth-child(4):hover .icon{
  background: #333;
}
.wrapper .button:nth-child(5):hover .icon{
  background: #ff0000;
}
.wrapper .button .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease-out;
}
 .wrapper .button:hover .icon img{
  filter: invert(1);
} 
.wrapper .button span{
  font-size: 20px;
  font-weight: 500;
  line-height: 60px;
  margin-left: 10px;
  transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
  color: #4267B2;
}
.wrapper .button:nth-child(2) span{
  color: #1DA1F2;
}
.wrapper .button:nth-child(3) span{
  color: #E1306C;
}
.wrapper .button:nth-child(4) span{
  color: #333;
}
.wrapper .button:nth-child(5) span{
  color: #ff0000;
} 
